body {
    background-color: white;
    
    
}
.logo2 {
    background-color: white;
    border: 2px solid white;
    height: 95x;
    width: 200px;
    
}

.menu {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -46px;
 
    
}

.bovenvlak {
    background-color: rgb(153, 111, 82);
    height: 180px;
    width: 100%
}
.tickets {
    border: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 20px;
    margin: 10px;
    color: white;
    
}

.opening {
    border: red;
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 20px;
    margin: 20px;   
}

.hallo {
    width: 100%;
    height: 1300px;
}

        



.contact {
    border: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 20px;
    margin: 10px;
    color: white;    
}

.titel{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.tekst{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



.info {
    margin: 15%;
    width: 30%;
    height: 40px;
    padding-bottom: 5%;
    margin-top: -435px;
    margin-left: 48%;
}
.info2{
    font-size: 25px;
    color: white;
    margin-left: 88%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1%;
}




.reviews {
    display: block;
    background: rgb(153, 111, 82);
    height: 300px;
    width: 100%;
    margin-top: 4%;


}

.reviewlink {
    
    justify-content: space-between;
    display: flex;
    
}

.kleur1 {
    background-color: rgb(153, 111, 82);
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;

}

.kleur2 {
    background-color: rgb(153, 111, 82);
    width: 87px;
    height: 150px;
    margin: 0px;
    
    
}

.contactgegevens {
    margin: 10px;
    padding: 10px;
    height: 5px;



}

.reviewknop{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   background-color: rgb(153, 111, 82);
   border: 3px solid black;
   color: white;
   margin-left: 50%;
   
}   

.knoptickets {
    margin-right: 25px;
    width: 90px;
    height: 40px;
    color: black;
    background-color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    

}
.tijden {
    width: 135px;
    height: 40px;
    margin-right: 25px;
    color: black;
    background-color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}
.contact12 {
    width: 95px;
    height: 40px;
    color: black;
    background-color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

.lijn1{
    height: 150px;
    width: 100%;
    background-color: rgb(153, 111, 82);
    margin-top: 0%;
}

.tekstquiz{
    margin-left: 50%;
    margin-top: -27%;

}
.quiz1{
    margin-left: 25px;
    width: 90px;
    height: 40px;
    color: black;
    background-color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}
.quiz2 {
    height: 160px;
    width: 250px;
    background-color: rgb(153, 111, 82);
    color: white;
    margin-left: 24%;
    font-size: 50px;

}
.titelquiz {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.quizintro {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}    

