body {
    background-color: rgba(60, 161, 201, 0.521);
    padding: 20px;
    margin: 130px;
    
}
img {
    background-color: red;
    padding: 20px;
    margin: 20px;
    height: 250px;
    width: 500px;
    margin-left: 100px;
}