 body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:white;
}
.slider{
    width: 600px;
    height: 400px;
    border-radius:10px ;
    overflow: hidden;
    padding-top: 50px;
    margin-left: 20px;
}
.slides{
    width: 600px;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 100%;
    transition: 2s;
}
.slide img{
    width: 600px;
    height: 400px;
}
/* css for manual slide navigatoin*/

.navigation-manual{
    position: absolute;
    width: 600px;
    height: 5px;
    display: flex;
    padding-left: 212px;
    margin-top: -40px;

}
.manual-btn{
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: yellow;
}

#radio1:checked ~ .first{
margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
margin-left: -200%;
}

#radio4:checked ~ .first{
margin-left: -300%;
} 

/*css for auto navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: 360px;
    height: 5px;
}

.navigation-auto div{
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    transition: 2s;
}

 .navigation-auto div:not(:last-child){
 margin-right: 40px;
} 

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: yellow;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: yellow;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: yellow;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: yellow;
}

